body{
  --brandBlue: hsl(195, 65%, 45%);
  --brandBlueLight: hsl(180, 45%, 87%);
  --brandBlueDark: hsl(201, 53%, 41%);
  --blueShadow: hsl(180, 35%, 75%);
  --brandRed: hsl(8, 100%, 67%);
  --brandRedLight: hsl(8, 100%, 70%);
  --brandRedDark: hsl(8, 100%, 64%);
  --creamYellow: hsl(48, 64%, 65%);
  --green: hsl(142, 32.9%, 72.5%);
  --offWhite: hsl(0, 0%, 95%);
}
