body{
  --brandBlue: hsl(189, 64%, 49%);
  --brandBlueLight: hsl(180, 45%, 87%);
  --brandBlueDark: hsl(201, 53%, 41%);
  --brandRed: hsl(8, 100%, 67%);
  --brandRedLight: hsl(8, 100%, 70%);
  --brandRedDark: hsl(8, 100%, 64%);
  --offWhite: hsl(0, 0%, 95%);
}
