@import '_themes.scss';

.verify-delete__container{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.verify-delete{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 400px;
  background-color: var(--offWhite);
  z-index: 100;
  border-radius: 5px;
  .verify-delete__message{
    font-size: 24px;
    text-align: center;
    margin-bottom: 1rem;
  }
  .verify-delete__actions{
    .verify-delete__action-input{
      margin: 0 2rem;
      border: none;
      border-radius: 5px;
      outline: none;
      height: 35px;
      width: 60px;
    }
    .verify-delete__confirm{
      background-color: var(--green);
    }
    .verify-delete__cancel{
      background-color: var(--brandRed);
    }
  }
}

.list__component{
  display: flex;
  margin: 2rem 10%;
  .lists__list{
    margin: 0;
    padding: 2rem;
    background-color: white;
    border-radius: 5px;
  }
}
.list__contents{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: white;
  margin-left: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

.list__header-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid var(--brandBlueLight);
  border-style: none none solid none;
  .list__header{
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 1.5px;
    color: var(--brandBlue);
    padding: 0.5rem;
    margin: 0;
  }
  .list__header-action-container{
    display: flex;
    align-items: center;
  }
  .list__header-action {
    font-size: 16px;
    margin: 0 0.25rem;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 0.35rem 0.5rem;
    transition: all 100ms ease-in-out;
  }
  .list__header-create-order{
    background-color: var(--offWhite);
    &:hover{
      background-color: var(--brandBlueLight);
    }
    &:active{
      background-color: var(--brandBlue);
    }
  }
  .list__header-clear-list{
    background-color: var(--offWhite);
    &:hover{
      background-color: var(--brandRedDark);
    }
    &:active{
      background-color: var(--brandRed);
    }
  }
}

.lists__list-element{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  height: auto;
  width: 16rem;
  margin: 0.5rem 0;
  padding: 1rem 0;
  border-radius: 5px;
  transform: all 100ms ease-in-out;
  .list-element__info{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    &:hover{
      .list-element__list-name{
        text-decoration: underline;
      }
      .list-element__list-name, .list-element__total-items{
        color: var(--brandRedLight);
      }
    }
  }
  .list-element__list-name{
    font-size: 25px;
    color: var(--brandBlue);
    word-break: break-word;
  }
  .list-element__total-items{
    white-space: nowrap;
  }
  .list-element__list-name, .list-element__total-items{
    margin: 0 0.5rem;
  }
}
.list-element__remove-list-container{
  cursor: pointer;
  padding: 0.5rem;
  .list-element__remove-list-icon{
    color: hsl(0, 0%, 85%);
    font-size: 20px;
    transition: all 150ms ease-in-out;
  }
  &:hover{
    .list-element__remove-list-icon{
      color: hsl(0, 0%, 40%);
    }
  }
}

.list-element__image-container{
  position: relative;
  .list-element__item-number{
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--green);
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
    z-index: 1;
  }
}

.lists__create-new-list{
  display: flex;
  align-items: center;
  font-size: 21px;
  justify-content: center;
  height: 45px;
  width: 100%;
  margin: 0 0 1rem 0;
  padding: 0;
  border: 1px solid var(--green);
  border-radius: 5px;
  background-color: transparent;
  transition: all 100ms ease-in-out;
  &:hover{
    background-color: var(--green);
  }
}

.lists__empty-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  .lists__empty-text{
    font-size: 28px;
    margin-bottom: 1.5rem;
  }
  .lists__empty-create-button{
    font-size: 23px;
    height: 2.5rem;
    width: 10rem;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: var(--brandRed);
    transition: all 100ms ease-in-out;
    &:hover{
      background-color: var(--brandRedLight);
    }
    &:active{
      background-color: green;
      background-color: var(--brandRedDark);
    }
  }
}

