@import '_themes.scss';

.selector{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.selector__container{
  display: flex;
  align-items: center;
  padding: 0;
  .selector__action{
    font-size: 28px;
    margin: 2px;
    transition: ease-in-out all 100ms;
    &:hover{
      color: var(--brandRed);
    }
  }
  .selector__number{
    font-size: 28px;
    margin: 0 5px;
    padding: 0 5px;
  }
}
