@import '_themes.scss';

.side-cart{
  display: flex;
  position: fixed;
  right: 0;
  background-color: var(--offWhite);
  border-radius: 5px 0 0 5px;
  width: 500px;
  height: 100%;
  transform: translateX(100%);
  z-index: 100;
  box-shadow: 10px 5px 5px hsl(180, 45%, 83%);
  transition: all ease-in-out 250ms;
  &__close-icon{
    font-size: 2rem;
    margin: 0.8rem;
  }
}

