@import './_themes.scss';

.subnav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: var(--brandBlue);
}
.subnav__list{
  margin: 0;
  padding: 0;
  .subnav__item{
    display: inline-block;
    margin: 25px;
    a{
      font-size: 22px;
      color: white;
      &:hover{
        color: var(--brandRedLight);
      }
    }
  }
}
